:root {
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --primary: #5e35b1;
}
ul li a {
  background: transparent;
  text-decoration: none;
}
nav ul li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav li a svg {
  width: var(--font-size);
  height: var(--font-size);
  fill: currentColor;
  margin: auto;
}
nav li a[data-play=true] svg {
  width: calc(var(--font-size)*1.5);
  height: calc(var(--font-size)*1.5);
}
nav li a[data-play=true] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--muted-border-color);
  border-radius: calc(var(--border-radius)*1.75);
  margin: 0 var(--spacing);
}
body > main > article {
  font-family: var(--font-mono);
  max-width: 620px;
  padding: calc(var(--spacing)*1.5) calc(var(--spacing)*2);
  margin: 0 auto;
  border-radius: calc(var(--border-radius)*3.5);
  box-shadow: 0px 1px 0px rgba(17,17,26,0.05), 0px 0px 8px rgba(17,17,26,0.1);
}
li mark {
  font-family: var(--font-mono);
  font-size: calc(var(--font-size)*.5);
  margin-left: calc(var(--spacing)*.35);
  border-radius: calc(var(--border-radius)*.5);
}
strong {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: calc(var(--font-size)*.9);
  display: inline-block;
  height: 100%;
}
label, mark, details, [data-tooltip]:before {
  font-size: calc(var(--font-size)*.75);
}
details {
  margin-bottom: 0;
  padding-bottom: calc(var(--spacing)*.5);
  border-bottom: 0;
}
details section {
  max-height: 200px;
  overflow-y: scroll;
  margin-bottom: calc(var(--block-spacing-vertical)*.25);
}
details section ul {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}
details section ul li {
  list-style: none;
}

span[aria-busy=true] {
  color:var(--primary);
  font-size: calc(var(--font-size)*.8);
  line-height: calc(var(--font-size)*.8);
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background: var(--form-element-border-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--contrast); 
}

.playing {
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: .5rem;
  box-sizing: border-box;
}

.playing__bar {
  display: inline-block;
  background: var(--primary);
  width: 30%;
  height: 1.75rem;
  animation: up-and-down 1.3s ease infinite alternate;
  margin-right: 1px;
}

.playing__bar1 {
  height: 60%;
}

.playing__bar2 {
  height: 30%;
  animation-delay: -2.2s;
}

.playing__bar3 {
  height: 75%;
  animation-delay: -3.7s;
}

@keyframes up-and-down {
  10% {
    height: 30%;
  }
  
  30% {
    height: 100%;
  }
  
  60% {
    height: 50%;
  }
  
  80% {
    height: 75%;
  }
  
  100% {
    height: 60%;
  }
}